<div class="row">
  <nav class="navbar navbar-dark bg-faded" style="background-color: #c0392b;">
  	<a class="navbar-brand" href="<%= root_path %>">NPA's Blog</a>
  	<button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
    &#9776;
	</button>
	<div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar">
	    <ul class="nav navbar-nav">
	        <li class="nav-item active">
	          <a class="nav-link" href="<%= new_article_path %>">New Article</a>
	        </li>
	    </ul>
    </div>
  </nav>
</div>