<% if notice %>
<div class="alert alert-success" role="alert">
	<%= notice %>
</div>
<% end %>
<div class="container">
	<%= render 'navbar' %>
	<div class="row" style="padding-top: 20px">
		<%= yield :content %>
	</div>
</div>