<% content_for :content do %>
	<div class="col-sm-6 col-md-8 col-md-offset-2">
		<h3><%= @article.title %></h3>
		<%= link_to 'Edit', edit_article_path(@article), class: "btn btn-primary" %>
		<hr>
		<%= @markdown.render(@article.body).html_safe %>
	</div>
<% end %>

<%= render template: "/articles/layout" %>
